In [2]:
'''A pandas series can only have a single value associated with each index label. To have
multiple values per index label we can use a data frame.'''
'''A data frame represents one or more series objects aligned by index label. Each series will be a column in the data frame,
and each column can have an associated name.'''
'''A data frame is analogous to a relational database table in that it contains one or more columns of data of heterogeneous types (but a single
type for all items in each respective column).'''

# importing packages and codes snippet from previous lesson
import pandas as pd

dates_index = pd.date_range('2019-01-01', '2019-01-10')

In [3]:
# creating a dataframe from the two series objects temp1 and temp2
# and give them column names
# creating the series
temp1 = pd.Series([78,89,45,67,67,58,48,83,87,34], index=dates_index)
temp2 = pd.Series([48,39,42,76,37,28,48,93,21,60], index=dates_index)

# creating the dataframe
temp_df = pd.DataFrame({'Akure':temp1, 'Lagos':temp2})
print(temp_df)

'''The resulting data frame has two columns named .Akure and Lagos . These
columns are new Series objects contained within the data frame with the values copied
from the original Series objects.'''

            Akure  Lagos
2019-01-01     78     48
2019-01-02     89     39
2019-01-03     45     42
2019-01-04     67     76
2019-01-05     67     37
2019-01-06     58     28
2019-01-07     48     48
2019-01-08     83     93
2019-01-09     87     21
2019-01-10     34     60

'The resulting data frame has two columns named .Akure and Lagos . These\ncolumns are new Series objects contained within the data frame with the values copied\nfrom the original Series objects.'

In [4]:
'''Columns in a DataFrame object can be accessed using an array indexer [] with the name of
the column or a list of column names. The following code retrieves the .Akure column:'''
# get the column name with the name Akure
temp_df['Akure']

# get the column name with the name Lagos
temp_df['Lagos']

# returning both columns in a different order
temp_df[['Lagos','Akure']]

'''Note: There is a subtle difference in a Dataframe object as compared to a
Series object. Passing a list to the [] operator of Dataframe retrieves the
specified columns whereas a Series would return rows.'''

'Note: There is a subtle difference in a Dataframe object as compared to a\nSeries object. Passing a list to the [] operator of Dataframe retrieves the\nspecified columns whereas a Series would return rows.'

In [5]:
# If the name of a column does not have spaces, it can be accessed using property-style:
# retrieving the Lagos column through property syntax
temp_df.Lagos

'''Arithmetic operations between columns within a data frame are identical in operation to
those on multiple Series . To demonstrate, the following code calculates the difference
between temperatures using property notation:'''
temp_diff = temp_df.Akure - temp_df.Lagos

'''A new column can be added to Dataframe simply by assigning another Series to a
column using the array indexer [] notation. The following adds a new column in the
Dataframe with the temperature differences:'''
temp_df['Difference'] = temp_diff

'''The names of the columns in a Dataframe are accessible via the .columns property:'''
# get the columns, which is also an Index object
temp_df.columns

Index(['Akure', 'Lagos', 'Difference'], dtype='object')

In [6]:
# slicing the temp differences column for the rows at location
# 1 through 4 (as though it as an array)
temp_df.Difference[1:4]

2019-01-02    50
2019-01-03     3
2019-01-04    -9
Freq: D, Name: Difference, dtype: int64

In [10]:
'''Entire rows from a data frame can be retrieved using the .loc and .iloc properties. .loc
ensures that the lookup is by index label, 
where .iloc uses the 0-based position. -'''

# gets the second row of the dataframe
temp_df.iloc[1]
'''Notice that this result has converted the row into a Series with the column names of the
data frame pivoted into the index labels of the resulting Series'''

# the names of the columns has become the index they have been pivoted
temp_df.iloc[1].index

# using the .loc property to get the row by the index label
temp_df.loc['2019-01-02']

Akure         89
Lagos         39
Difference    50
Name: 2019-01-02 00:00:00, dtype: int64